body {
    padding: 0 2em;
}

.bienbancamketcuabaove {
    padding: 0;
}

    .bienbancamketcuabaove > header {
        display: inline-flex;
        color: rgba(0, 0, 0, 0.6);
    }

        .bienbancamketcuabaove > header > img {
            width: 15%;
            height: 5%;
            opacity: 0.6;
        }

        .bienbancamketcuabaove > header > div {
            text-align: center;
            width: 80%;
            padding: 1.5em 0em 0em 0em;
        }

            .bienbancamketcuabaove > header > div > .tenCongty-vn {
                display: block;
                font-size: 1em;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }

            .bienbancamketcuabaove > header > div > .tenCongty-en {
                display: block;
                font-size: 0.9em;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0;
            }

            .bienbancamketcuabaove > header > div > .diaChi {
                display: block;
                font-size: 0.85em;
                margin: 0;
            }

            .bienbancamketcuabaove > header > div > .thongTin {
                display: block;
                margin: 0;
            }

                .bienbancamketcuabaove > header > div > .thongTin > .colum {
                    display: inline-flex;
                    width: 35%;
                    text-align: left;
                    font-size: 0.8em;
                }

    .bienbancamketcuabaove > section {
        padding: 1em 0em;
        line-height: 1.7em;
    }

        .bienbancamketcuabaove > section > article {
            text-align: justify;
        }

            .bienbancamketcuabaove > section > article > .tieuDe {
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                text-transform: uppercase;
            }

                .bienbancamketcuabaove > section > article > .tieuDe > span {
                    font-size: 0.9em;
                }

            .bienbancamketcuabaove > section > article > .thongTin {
                font-size: 1em;
                line-height: 2em;
            }

            .bienbancamketcuabaove > section > article > .camKet {
                font-size: 1em;
            }

                .bienbancamketcuabaove > section > article > .camKet > p {
                    font-weight: bold;
                    font-style: italic;
                }

                .bienbancamketcuabaove > section > article > .camKet > .noiDung {
                }

                    .bienbancamketcuabaove > section > article > .camKet > .noiDung > p {
                        margin-bottom: 0;
                        text-align: justify;
                    }

    .bienbancamketcuabaove > footer {
    }

        .bienbancamketcuabaove > footer > .ngay {
            text-align: right;
            font-size: 0.9em;
            font-style: italic;
            margin: 0em 0em 0.5em 0em;
        }

        .bienbancamketcuabaove > footer > .kyTen {
            padding: 0em 0em 7em 0em;
        }

            .bienbancamketcuabaove > footer > .kyTen > p {
                width: 48%;
                display: inline-block;
                text-align: center;
                font-weight: bold;
                margin: 0;
            }

                .bienbancamketcuabaove > footer > .kyTen > p > .ten {
                    font-size: 1.2em;
                }

                .bienbancamketcuabaove > footer > .kyTen > p > .phu {
                    font-size: 1em;
                    font-style: italic;
                }

        .bienbancamketcuabaove > footer > .soLuong {
            margin: 0;
            font-size: 0.7em;
            color: rgba(0, 0, 0, 0.6);
        }
